{% assign sidebar = true %}
{% if include.sidebar == false %}
{% assign sidebar = false %}
{% endif %}
{%if sidebar%}
<div id="toc" class="sidebar">
{% else %}
<div id="toc">
{% endif %}
<h2>Documentation</h2>
<ul>
  <li>
    <a href="/docs/installing">Installing Enigma Engine</a>
    <ul>
      <li>
        <a href="/docs/adding-mods">Add and Configure Mods</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/docs/mod-guide">Making Mods in Enigma Engine</a>
    <ul>
        <li>
          <a href="/docs/custom-characters">Custom Characters</a>
        </li>
        <li>
          <a href="/docs/custom-health-icons">Custom Health Icons</a>
        </li>
        <li>
          <a href="/docs/custom-songs">Custom Songs</a>
        </li>
        <li>
          <a href="/docs/custom-title-screen">Custom Title Screen</a>
        </li>
    </ul>
  </li>
  <li>
    Technical Information
    <ul>
      <li>
        <a href="/docs/animation-format">Animation File Format (Sparrow v2)</a>
      </li>
    </ul>
  </li>
</ul>
</div>
